html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	font-family: Tahoma,Helvetica,"microsoft yahei","Hiragino Sans GB",Simsun,\5b8b\4f53,sans-serif;
/* 	font-family: Segoe UI, Lucida Grande, Helvetica, Arial, Microsoft YaHei,
		FreeSans, Arimo, Droid Sans, wenquanyi micro hei, Hiragino Sans GB,
		Hiragino Sans GB W3, FontAwesome, sans-serif; */
		    -webkit-font-smoothing: antialiased;
}
.hand{
cursor: pointer;
}
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
ul, li {
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}
.layui-layer-btn .layui-layer-btn0{
	color:#FFF!important;
}
a:hover{
	color:#007bff;
}

::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}
::-webkit-scrollbar-track:hover , ::-webkit-scrollbar-thumb:hover {
	border-radius: 999px;
	border: 3px solid transparent;
}


::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
	min-height: 20px;
	background-clip: content-box;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.jbolt_admin{
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
	position: relative!important;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	background: #F5F5F5;
}
.jbolt_admin.row{
	position: relative!important;
}

.jbolt_admin_left {
	width: 220px;
	height: 100%;
	position: relative;
	/* float: left; */
	background-color: #32363c;
	transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
}
.jbolt_admin.normalMenu,
.jbolt_admin.hideMenu{
		transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
}
.jbolt_admin.normalMenu .jbolt_admin_left{
	width: 220px;
}
.jbolt_admin.hideMenu .jbolt_admin_left{
	width: 60px;
}
.jbolt_admin.hideMenu  nav .jbolt_menu_group>span,
.jbolt_admin.hideMenu  nav .jbolt_menu_group>i:LAST-CHILD{
	display: none;
}
.jbolt_admin.hideMenu  nav{
	margin:15px 0px;
}
.jbolt_admin.hideMenu  nav.jbolt_admin_nav.test>ul,
.jbolt_admin.hideMenu  nav.jbolt_admin_nav.expansion.test>ul,
.jbolt_admin.hideMenu  nav.jbolt_admin_nav:hover>ul,
.jbolt_admin.hideMenu  nav.jbolt_admin_nav.expansion:hover>ul{
	position: fixed;
    display: inline-block;
    height: auto;
    width: 220px;
    padding-left: 15px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 999;
    margin-top: -40px;
    left: 60px;
    background-color: #32363c;
    border-left: 1px solid #222;
}
.jbolt_admin.hideMenu  nav.jbolt_admin_nav.test>ul>li+ul,
.jbolt_admin.hideMenu  nav.jbolt_admin_nav.expansion.test>ul>li+ul,
.jbolt_admin.hideMenu  nav.jbolt_admin_nav:hover>ul>li+ul,
.jbolt_admin.hideMenu  nav.jbolt_admin_nav.expansion:hover>ul>li+ul{
	display: block;
	height: auto;
	width: 184px;
}
.jbolt_admin.hideMenu  nav .jbolt_menu_group{
	padding-left: 0px;
	text-align: center;
}
.jbolt_admin.hideMenu  .jbolt_admin_username,
.jbolt_admin.hideMenu  .jbolt_admin_rolename{
	display: none;
}
.jbolt_admin.hideMenu  .jbolt_admin_left_navs{
	top:0px;
}
.jbolt_admin.hideMenu  .jbolt_admin_left_top{
	display: none;
}
.jbolt_admin.hideMenu  .jbolt_admin_nav.expansion .jbolt_menu_group, .jbolt_admin_nav.expansion span{
	
}

.jbolt_admin.hideMenu  .jbolt_admin_avatar {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
.jbolt_admin.hideMenu  nav .jbolt_menu_group>i:FIRST-CHILD{
	font-size:20px;
	width: 20px;
	height: 20px;
	text-align: center;
}



.jbolt_admin_left_top {
	height: 60px;
	text-align: center;
	pedding:0px;
}

.jbolt_admin_left_top span.jbolt_system_name {
	color:#FFFFFF;
	font-size:20px;
}
.jbolt_admin_left_top img.jbolt_admin_logo {
	width: 220px;
	height:60px;
}


.jbolt_admin_left_navs {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	top:60px;
	right: 0px;
	overflow-y: auto;
}

.jbolt_admin_avatar {
	width: 120px;
	height: 120px;
	margin: 10px auto;
}

.jbolt_admin_username {
	font-size: 14px;
	padding: 0px;
	margin: 5px 0;
	color: #DFE4ED
}

.jbolt_admin_rolename {
	color: #8095a8
}

.jbolt_admin_main {
/* 	min-width:980px; */
	background: #F5F5F5;
	height: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.jbolt_admin_main_top {
	display: block;
	height: 60px;
	background: #FFF;
	border-bottom: 1px solid #DDD;
	padding: 10px;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	color:#888;
}
.jbolt_admin.jbolt_style_2 .jbolt_admin_main_top{
	background-color: #32363c;
	color:#eeeeee;
}
.jbolt_admin.jbolt_style_3 .jbolt_admin_main_top{
	background-color: #39435C;
	color:#eeeeee;
}
.jbolt_admin_navtoggle {
	font-size: 36px;
	color: #CCCCCC;
	font-weight: 100;
}

.jbolt_admin_title {
	font-size: 25px;
	padding: 2px 10px;
	letter-spacing:1px;
	display: inline-block;
	color: #444;
}

.jbolt_admin_main_tr {
	margin-top: 20px;
	padiing-right: 15px;
}

.jbolt_admin_main_tr a {
	color: #666;
	font-size: 14px;
	display: block;
}

.jbolt_admin_main_container {
	background-color: #eff3f6;
	padding: 10px;
	position: absolute;
	left: 0px;
	top: 60px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}
/* .card-body{
	padding: 5px;
} */

.jbolt_admin.jbolt_style_1 .jbolt_admin_left,
.jbolt_admin.jbolt_style_3 .jbolt_admin_left{
	background-color: #39435C;
}
.jbolt_admin.jbolt_style_1 .jbolt_admin_nav .jbolt_menu_group span ,
.jbolt_admin.jbolt_style_3 .jbolt_admin_nav .jbolt_menu_group span {
	color: #eeeeee;
}
.jbolt_admin.jbolt_style_1 .jbolt_admin_left_top{
}
.jbolt_admin.jbolt_style_3 .jbolt_admin_left_top{
}

.jbolt_admin.jbolt_style_1 .jbolt_admin_nav.expansion .jbolt_menu_group,
.jbolt_admin.jbolt_style_1 .jbolt_admin_nav.expansion span,
.jbolt_admin.jbolt_style_3 .jbolt_admin_nav.expansion .jbolt_menu_group,
.jbolt_admin.jbolt_style_3 .jbolt_admin_nav.expansion span{
	 background-color: #272f42; 
}
.jbolt_admin.jbolt_style_1.hideMenu  nav.jbolt_admin_nav:hover ul,
.jbolt_admin.jbolt_style_1.hideMenu  nav.jbolt_admin_nav.expansion:hover ul,
.jbolt_admin.jbolt_style_3.hideMenu  nav.jbolt_admin_nav:hover ul,
.jbolt_admin.jbolt_style_3.hideMenu  nav.jbolt_admin_nav.expansion:hover ul{
	/* background-color: #272f42; */
		background-color: #313745;
}
.jbolt_admin.jbolt_style_1 .jbolt_admin_nav .jbolt_menu_group:hover ,
.jbolt_admin.jbolt_style_1 .jbolt_admin_nav .jbolt_menu_group:hover span,
.jbolt_admin.jbolt_style_3 .jbolt_admin_nav .jbolt_menu_group:hover ,
.jbolt_admin.jbolt_style_3 .jbolt_admin_nav .jbolt_menu_group:hover span{
	/* background-color: #272f42; */
		background-color: #313745;
}
 
.jbolt_page {
	display: block;
	background: #FFF;
	padding: 20px;
	min-height: 100%;
	border-radius:6px;
}
.jbolt_page.h100{
	height: 100%!important;
}
.jbolt_page_content{
	padding-top: 15px;
}
.jbolt_page.h100 .jbolt_page_content{
	height: 100%!important;
}

.table td, .table th{
	vertical-align: middle;
}

.jbolt_admin_nav {
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.01);
}

.jbolt_admin_nav .dashboard,
.jbolt_admin_nav .jbolt_menu_group {
	font-size: 14px;
	font-weight: normal;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 0px;
	cursor: pointer;
	color: #c2c4c7;
	letter-spacing: 1px;
}
.jbolt_admin_nav .jbolt_menu_group:hover ,
.jbolt_admin_nav .jbolt_menu_group:hover span{
	background-color: #2f3a38;
	color:#FFF;
}

.jbolt_admin_nav .jbolt_menu_group a {
	color: #a7b1c2;
	display: block;
}

.jbolt_admin_nav a:hover {
	text-decoration: none;
}

.jbolt_admin_nav .jbolt_menu_group span {
	margin-left: 10px;
	margin-right: 5px;
	color: #c2c4c7;
}

.jbolt_admin_nav .jbolt_menu_group i.fa:FIRST-CHILD {
		width: 12px;
		height: 12px;
}
.jbolt_admin_nav .jbolt_menu_group i.title_arrow {
	width: 35px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
}

.jbolt_admin_nav ul.jbolt_admin_menus {
	display: none;
	height: 0px;
	padding-left: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top:6px;
	background-color: rgba(0, 0, 0, 0.01);
	overflow-y:auto;
}

.jbolt_admin_nav.expansion ul.jbolt_admin_menus {
	display: block;
	height: auto;
}
.jbolt_admin.hideMenu .jbolt_admin_nav.expansion ul.jbolt_admin_menus {
	display: none;
	height: 0;
}
.jbolt_admin_nav.expansion .jbolt_menu_group,
.jbolt_admin_nav.expansion span{
	/* background-color: #454646; */
	background-color: #272a2d;
	color:#FFF;
}


.jbolt_admin_left_navs.allexpansion .jbolt_admin_nav ul.jbolt_admin_menus {
	display: block;
	height: auto;
}



.jbolt_admin_nav ul>li {
	font-size: 13px;
	display: block;
	
}
.jbolt_admin_nav>ul>li {
	padding: 8px 0px;
}
.jbolt_admin_nav>ul>li+ul>li {
	padding: 4px 0px;
}
.jbolt_admin_nav>ul>li+ul {
	margin-top:0px;
}
.jbolt_admin_nav ul.jbolt_admin_menus ul.jbolt_admin_menus{
	margin-top:0px;
}
.jbolt_admin_nav ul>li>a {
	color: #bcc0c7;
	display: block;
	padding-left: 35px;
}
.jbolt_admin_nav ul li a.active{
	color: #FFFFFF;
	background: url("img/navbg.png") center right no-repeat;
}
.jbolt_admin_nav ul li a:hover {
	color: #FFFFFF;
}

.jbolt_page_title {
	display: block;
	vertical-align: bottom;
}

.jbolt_page_title h1 {
	display: inline-block;
	font-size: 22px;
	padding-right: 20px;
}

.jbolt_page_title span {
	display:inline-block;
	font-size: 14px;
	color: #999;
}
.jbolt_page_title form {
	display: inline-block;
	padding-left: 20px;
	
}

.jbolt_page_sub_title {
	display: inline-block;
	font-size: 20px;
	padding-right: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}
.jbolt_page_sm_title {
	display: inline-block;
	font-size: 18px;
	padding-right: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}
.jbolt_page_table_title {
	display: inline-block;
	font-size: 18px;
	padding-right: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}
.jbolt_page_xs_title {
	display: inline-block;
	font-size: 16px;
	padding-right: 18px;
	margin-bottom: 15px;
}

.tab-pane {
	padding-top: 10px;
}

.ulli_1 li {
	display: block;
	padding: 5px;
}

.jbolt_panel_alist {
	padding: 5px;
}

.jbolt_panel_alist a {
	display: inline-block;
	margin: 5px;
}

.table-responsive table>thead>tr>th,
.table-responsive table>thead>tr>td{
	white-space: nowrap;
	min-width: 60px!important;
}
.table-dash th {
	border-top: none;
	border-bottom: 1px dashed #ddd;
}

.table-dash  td {
	border-top: none;
	border-bottom: 1px dashed #ddd;
}

.nav-link {
	font-size: 14px;
	color: #333;
}
.tab-content{
	border:1px solid #dee2e6;
	border-top:none;
}
table.table-center{
	text-align: center!important;
}
.mcenter{
	margin: auto!important;
}
.text-left{
	text-align: left!important;
}
.text-center{
	text-align: center!important;
}
.text-right{
	text-align: right!important;
}
.bgc-primary{
	background-color:#007bff!important;
}
.bdc-primary{
	border-color:#007bff!important;
}
.c-primary{
	color:#007bff!important;
}
.bgc-secondary{
	background-color:#6c757d!important;
}
.bdc-secondary{
	border-color:#6c757d!important;
}
.c-secondary{
	color:#6c757d!important;
}
.bgc-success{
	background-color:#28a745!important;
}
.bdc-success{
	border-color:#28a745!important;
}
.c-success{
	color:#28a745!important;
}
.bgc-danger{
	background-color:#dc3545!important;
}
.bdc-danger{
	border-color:#dc3545!important;
}
.c-danger{
	color:#dc3545!important;
}
.bgc-warning{
	background-color:#ffc107!important;
}
.bdc-warning{
	border-color:#ffc107!important;
}
.c-warning{
	color:#ffc107!important;
}
.bgc-info{
	background-color:#17a2b8!important;
}
.bdc-info{
	border-color:#17a2b8!important;
}
.c-info{
	color:#17a2b8!important;
}
.bgc-light{
	background-color:#f8f9fa!important;
}
.bdc-light{
	border-color:#f8f9fa!important;
}
.c-light{
	color:#f8f9fa!important;
}
.bgc-dark{
	background-color:#343a40!important; 
}
.bdc-dark{
	border-color:#343a40!important; 
}
.c-dark{
	color:#343a40!important;
}
.jbolt_table_searchbtn{
	margin: 0px 5px;
}
.btn-bd1{
	border:1px solid;
	border-radius:5px;
}
.jbolt_table_btn,
.jbolt_table_addbtn,
.jbolt_table_editbtn,
.jbolt_table_delbtn{
	display: inline-block;
	min-width: 14px;
	margin: 0px 3px;
	font-size:14px;
}
.form-group.bdc-danger{
	color:#dc3545;
}
.form-group.bdc-danger .form-control{
	border-color:#dc3545;
}
.form-group.bdc-success{
	color:#28a745;
}
.form-group.bdc-success .form-control{
	border-color:#28a745;
}

.form-page-fieldset{
	margin-bottom: 15px;
}
.form-page-fieldset legend{
	text-align: center;
}

.j_upload_file_box{
	display: block;
	width: 300px;
	height: 100px;
	margin: 10px auto;
	position: relative;
}
.form-group.has-error .j_upload_file_box .j_upload_file{
	border:2px dashed red;
}
.j_upload_file_box .j_upload_file{
	width: 300px;
	height: 70px;
	border-radius:5px;
	background:#5bc0de url("img/upload.png");
	background-size:100% 100%;
	cursor: pointer;
	overflow: hidden;
}
.j_upload_file_box .j_upload_file.j_reupload{
	background:#5bc0de url("img/reupload.png");
	background-size:100% 100%;
}
.j_upload_file_box .j_upload_file input[type='file']{
	opacity: 0;
	width: 100%;
	height: 100%;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	cursor: pointer;
}
/* .j_upload_file_box .j_upload_file  label{
	position: relative;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	font-size:16px;
	line-height: 4.5;
	
} */
.j_upload_file_box .j_upload_file:hover{
	background:  #5cb85c url("img/upload.png");
	background-size:100% 100%;
}
.j_upload_file_box .j_upload_file.j_reupload:hover{
	background:#5cb85c url("img/reupload.png");
	background-size:100% 100%;
}
.j_upload_file_box .j_upload_file_box_msg{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size:14px;
	font-weight: normal;
	position: relative;
	display: none;
}
.j_upload_img_preivew{
	display:block;
	margin: 15px auto;
	text-align: center;
	border:1px dashed #ddd;
	padding:15px;
	width: 300px;
	min-height:200px;
	vertical-align: middle;
}
.j_upload_img_preivew img{
	max-width: 260px;
	max-height: 260px;
	margin: 0px auto;
	vertical-align: middle;
}
.j_upload_file_box .j_file_name{
	width: 85%;
	height: 30px;
	line-height: 30px;
	color:#d9534f;
}
.j_upload_file_box .j_remove_file{
position: absolute;
z-index: 1;
right:0px;
top:5px;
font-size:16px;
cursor: pointer;
}
.j_upload_file_box .j_remove_file:hover{
	font-size:18px;
}


.j_img_uploder{
	width:120px;
	height:120px;
	border:1px dashed #CCC;
	display: inline-block;	
	background:url("img/uploadimg.png") center center no-repeat;
	background-size:80%;
	position: relative;
}
.form-group.has-error .j_img_uploder{
	border:1px dashed red;
}
.j_img_uploder:hover{
	border:1px solid #aaa;
}
.j_img_uploder input[type='file']{
	opacity: 0;
	width: 100%;
	height: 100%;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	position: absolute;
	cursor: pointer;
}
.j_img_uploder .j_img_uploder_msg{
	position: absolute;
	bottom:0px;
	margin-bottom:0px;
	background: rgba(0,0,0,0.5);
	color:#FFF;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding-left:2px;
	font-weight: normal;
	display: none;
	overflow: hidden;
}

.j_img_uploder .j_file_name{
	width: 100%;
	height: 20px;
	padding-right:30px;
	line-height: 20px;
	color:#FFF;
	overflow: hidden;
}
.j_img_uploder .j_remove_file{
float:right;
position:absolute;
z-index: 1;
right:2px;
top:2px;
font-size:14px;
cursor: pointer;
}
.j_img_uploder .j_remove_file:hover{
	font-size:16px;
}

[data-switchbtn]{
	min-width:40px;
	height: 20px;
	cursor: pointer;
}



.checkbox {
  padding-right: 20px;
  display:block;
  height: 32px;
  line-height: 32px;
   }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; 
    min-height: 12px;
    white-space: nowrap;
    }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      margin-top:5px;
      left: 0;
      top:2px;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0px;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 0px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before {
      /* outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;  */}
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 10px;
    min-width: 80px;
    display: inline-block;
     }
  .checkbox.checkbox-single label {
    height: 17px; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-right: 20px!important;
  height: 32px;
  line-height: 32px;
   }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px!important;
     white-space: nowrap;
     }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px!important;
      height: 17px!important;
      margin-top:5px;
      left: 0px!important;
      top:2px;
      margin-left: -20px!important;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
        margin-top:5px;
      left: 3px;
      top: 5px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      /* outline: thin dotted;
      outline: 50px auto -webkit-focus-ring-color;
      outline-offset: -2px;  */}
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0;
    display: inline-block;
     }
  .radio.radio-single label {
    height: 17px; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
  
  
.checkboxBtn{
	display:inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size:14px;
	vertical-align: middle;
	text-align: center;
	color:white;
	border:1px solid #DDD;
	background: #FFF;
	padding: 0px;
}
.checkboxBtn.checked{
	background-color: #428bca;
    border-color: #428bca; 
    color:white;
}

.jbolt_search_box{
	display: inline-block;
	border:1px solid #CCC;
	min-width: 200px;
	padding:5px 15px;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	-ms-transition:.3s;
	border-radius: 18px;
}
.jbolt_admin.jbolt_style_3 .jbolt_search_box{
	border-color:#636a7b;
}
.jbolt_admin.jbolt_style_2 .jbolt_search_box input,
.jbolt_admin.jbolt_style_3 .jbolt_search_box input{
	color:#eeeeee;
}
.jbolt_admin.jbolt_style_2 .jbolt_search_box input::-webkit-input-placeholder,
.jbolt_admin.jbolt_style_3 .jbolt_search_box input::-webkit-input-placeholder{
	color:#cccccc;
}
.jbolt_admin.jbolt_style_2 .jbolt_search_box input:focus::-webkit-input-placeholder,
.jbolt_admin.jbolt_style_3 .jbolt_search_box input:focus::-webkit-input-placeholder{
	color:#FFFFFF;
}
.jbolt_admin_main_top .jbolt_search_box{
	border-top:none;
	border-left:none;
	border-right:none;
	border-radius: 0px;
}
.jbolt_search_box.withicon{
	padding:5px 10px 5px 40px;
	background: url("img/search.png") 10px center no-repeat;
	background-size:24px 24px;
}

.jbolt_search_box input{
	background-color:transparent;
	display: block;
	width:100%;
	border:none;
	height: 25px;
	line-height: 25px;
	outline: none;
}
.jbolt_search_box input:focus{
	outline: none;
	min-width: 320px;
}


.cus_filter_box{
height: 360px;
padding: 15px;
overflow:hidden;
position: relative;
z-index: 1px;
border-bottom:none;
}
.cus_filter_box.exdown{
	height: auto!important;
}
.toggleAllConditions{
	margin: 0px auto;
	text-align: center;
	font-size:12px;
	color:#999;
	border-top:1px solid rgba(0,0,0,.125);
	background:#FFF;
	z-index: 2px;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	-ms-transition:.3s;
}

.toggleAllConditions span>i{
margin-left: 5px;
font-size:16px;
}
.toggleAllConditions span{
	display:inline-block;
	margin:0px auto;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	cursor: pointer;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	-ms-transition:.3s;
	width: 150px;
	height:30px;
	line-height: 30px;
	position: relative;
	top:-1px;
	border:1px solid rgba(0,0,0,.125);
	border-top:none;
	background: #FFF;
}
.toggleAllConditions:hover{
	border-color:red;
}
.toggleAllConditions:hover span{
	border-color:red;
	color:red;
}
.cus_filter_box .row{
margin-left: 0px;
margin-right: 0px;
}
.cus_filter_box .row>label{
	font-size:14px;
	font-weight: bold;
}
.cus_filter_box .row .col-auto{
padding-left: 0px;
padding-right: 0px;
}
.project_state_color-1,
.project_state_color-2{
color:red;
}
.project_state_color-5{
	color:#888888;
}
.project_state_color-3{
	color:green;
	font-weight: bold;
}

.tipsLayer-span{
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	height: 35px;
	max-width: 260px;
}


@media screen and (max-width:1440px){
    .tipsLayer-span{
		max-width: 260px;
	}
}
@media screen and (max-width:1920px){
    .tipsLayer-span{
		max-width: 400px;
	}
}

.card-innerwithScroll{
	display: block;
	min-height: 200px;
	overflow-y:auto;
	padding-left: 6px;
}
.card-inner{
	display: block;
	min-height: 200px;
	padding-left: 6px;
}

.pages {
	width:100%;
	margin-top:15px;
	margin-right:30px;
	text-align: right;
	margin-bottom: 15px;
}
.pages #Pagination {
	display:inline-block;
  overflow: hidden;
}
.pages #Pagination .pagination {
	 display:inline-block;
  text-align: right;
  font-family: \u5b8b\u4f53,Arial;
  margin: 0px;
}
.pages #Pagination .pagination a,
.pages #Pagination .pagination span {
  float: left;
  display: inline;
  padding: 5px 13px;
  border: 1px solid #e6e6e6;
  border-right: none;
   color: #337ab7;
    background-color: #fff;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.pages #Pagination .pagination a:hover,
.pages #Pagination .pagination span:hover{
	text-decoration: none;
	color:#23527c;background-color:#eee;border-color:#ddd;
}
.pages #Pagination .pagination .current {
  color:#23527c;background-color:#eee;border-color:#ddd
}
.pages #Pagination .pagination .prev,
.pages #Pagination .pagination .next {
  float: left;
  padding: 5px 13px;
  border: 1px solid #e6e6e6;
    color: #337ab7;
    background-color: #fff;
  cursor: pointer;
}
.pages #Pagination .pagination .prev i,
.pages #Pagination .pagination .next i {
  display: inline-block;
  width: 4px;
  height: 11px;
  margin-right: 5px;
  background: url(img/icon.fw.png) no-repeat;
}
.pages #Pagination .pagination .prev {
  border-right: none;
}
.pages #Pagination .pagination .prev i {
  background-position: -144px -1px;
  *background-position: -144px -4px;
}
.pages #Pagination .pagination .next i {
  background-position: -156px -1px;
  *background-position: -156px -4px;
}
.pages #Pagination .pagination .pagination-break {
  padding: 5px 5px;
  border: none;
  border-left: 1px solid #e6e6e6;
  background: none;
  cursor: default;
}
.pages .searchPage {
  float:right;
  height:30px;
  padding-top: 2px;
}
.pages .searchPage .page-sum {
  padding: 5px 13px;
  color: #999999;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
}
.pages .searchPage .page-go {
  padding: 8px 0;
  color: #999999;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
  padding: 10px 0\9;
  *padding: 6px 0;
}
.pages .searchPage .page-go input {
  min-width: 30px;
  max-width:60px;
  height: 30px;
  margin: 0 5px;
  text-align:center;
  padding-left: 5px;
  border: 1px solid #e4e4e4;
}
.pages .searchPage .page-btn {
  margin: 9px 0 5px 5px;
  padding: 5px 5px;
  border-radius: 2px;
      color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
  font-family: Arial, 'Microsoft YaHei';
  font-size: 14px;
  text-decoration: none;
}





/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: #000;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.label.label-info{
	border:1px solid #CCC;
	border-radius:4px;
	padding: 2px 5px;
	display: inline-block;
}
.pd15{
	padding: 15px!important;
}
.jbolt_topbar_btn{
	display: inline-block;
	cursor: pointer;
	width: 22px;
	height: 22px;
	vertical-align: top;
	margin:8px 10px 0px 10px;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	-ms-transition:.3s;
}
.jbolt_topbar_btn.jbolt_toggle_Left_nav_btn{
	background: url("img/outdent.png") center center no-repeat;
	background-size: cover;
}
.jbolt_admin.jbolt_style_2 .jbolt_topbar_btn.jbolt_toggle_Left_nav_btn,
.jbolt_admin.jbolt_style_3 .jbolt_topbar_btn.jbolt_toggle_Left_nav_btn{
	background: url("img/outdent1.png") center center no-repeat;
	background-size: cover;
}
.jbolt_topbar_btn.jbolt_refresh_container_btn{
	width: 24px;
	height: 24px;
	margin-top:7px;
	background: url("img/refresh.png") center center no-repeat;
	background-size: cover;
}
.jbolt_admin.jbolt_style_2 .jbolt_topbar_btn.jbolt_refresh_container_btn,
.jbolt_admin.jbolt_style_3 .jbolt_topbar_btn.jbolt_refresh_container_btn{
	background: url("img/refresh2.png") center center no-repeat;
	background-size: cover;
}
.jbolt_admin .jbolt_topbar_btn.jbolt_refresh_container_btn:hover{
	background: url("img/refresh1.png") center center no-repeat;
	background-size: cover;
}
.jbolt_topbar_btn.jbolt_theme_btn{
	background: url("img/theme1.png") center center no-repeat;
	background-size: cover;
	margin:5px;
}
.jbolt_topbar_btn.jbolt_logout_btn{
	background: url("img/logout1.png") center center no-repeat;
	background-size: cover;
	margin:5px;
}
.jbolt_admin.jbolt_style_2 .jbolt_topbar_btn.jbolt_logout_btn,
.jbolt_admin.jbolt_style_3 .jbolt_topbar_btn.jbolt_logout_btn{
	background: url("img/logout3.png") center center no-repeat;
	background-size: cover;
	margin:5px;
}
.jbolt_topbar_btn.jbolt_locksystem_btn{
	background: url("img/locksys1.png") center center no-repeat;
	background-size: cover;
	margin:5px;
}
.jbolt_admin.jbolt_style_2 .jbolt_topbar_btn.jbolt_locksystem_btn,
.jbolt_admin.jbolt_style_3 .jbolt_topbar_btn.jbolt_locksystem_btn{
	background: url("img/locksys3.png") center center no-repeat;
	background-size: cover;
	margin:5px;
}
.jbolt_admin .jbolt_topbar_btn.jbolt_theme_btn:hover{
	background-image: url("img/theme2.png");
}
.jbolt_admin .jbolt_topbar_btn.jbolt_logout_btn:hover{
	background-image: url("img/logout2.png");
}
.jbolt_admin .jbolt_topbar_btn.jbolt_locksystem_btn:hover{
	background-image: url("img/locksys2.png");
}
.jbolt_topbar_btn.jbolt_toggle_Left_nav_btn.hidden{
	transform:rotate(180deg);
-ms-transform:rotate(180deg); 	/* IE 9 */
-moz-transform:rotate(180deg); 	/* Firefox */
-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
-o-transform:rotate(180deg); 	/* Opera */
}
 

.dictionaryTypes tr.active{
background-color: #EEE!important;
color:red;
}


.j_bg_secondary {
	background: -webkit-linear-gradient(left, rgb(105, 117, 124), rgba(105, 117, 124, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(105, 117, 124), rgba(105, 117, 124, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(105, 117, 124), rgba(105, 117, 124, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(105, 117, 124), rgba(105, 117, 124, 0.5));
	/* 标准的语法 */
}

.j_bg_warning {
	background: -webkit-linear-gradient(left, rgb(255, 193, 7), rgba(255, 193, 7, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(255, 193, 7), rgba(255, 193, 7, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(255, 193, 7), rgba(255, 193, 7, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(255, 193, 7), rgba(255, 193, 7, 0.5));
	/* 标准的语法 */
}

.j_bg_success {
	background: -webkit-linear-gradient(left, rgb(40, 167, 69), rgba(40, 167, 69, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(40, 167, 69), rgba(40, 167, 69, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(40, 167, 69), rgba(40, 167, 69, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(40, 167, 69), rgba(40, 167, 69, 0.5));
	/* 标准的语法 */
}

.j_bg_dark {
	background: -webkit-linear-gradient(left, rgb(52, 58, 64), rgba(52, 58, 64, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(52, 58, 64), rgba(52, 58, 64, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(52, 58, 64), rgba(52, 58, 64, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(52, 58, 64), rgba(52, 58, 64, 0.5));
	/* 标准的语法 */
}

.j_bg_info {
	background: -webkit-linear-gradient(left, rgb(23, 162, 184), rgba(23, 162, 184, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(23, 162, 184), rgba(23, 162, 184, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(23, 162, 184), rgba(23, 162, 184, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(23, 162, 184), rgba(23, 162, 184, 0.5));
	/* 标准的语法 */
}

.j_bg_primary {
	background: -webkit-linear-gradient(left, rgb(0, 123, 255), rgba(0, 123, 255, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(0, 123, 255), rgba(0, 123, 255, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(0, 123, 255), rgba(0, 123, 255, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(0, 123, 255), rgba(0, 123, 255, 0.5));
	/* 标准的语法 */
}

.j_bg_danger {
	background: -webkit-linear-gradient(left, rgb(220, 53, 69), rgba(220, 53, 69, 0.5));
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgb(220, 53, 69), rgba(220, 53, 69, 0.5));
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgb(220, 53, 69), rgba(220, 53, 69, 0.5));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, rgb(220, 53, 69), rgba(220, 53, 69, 0.5));
	/* 标准的语法 */
}
.j_font_30 {
	font-size: 30px!important;
}

.j_left_fa {
	width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	margin-left: 10px;
}


.j_font_24 {
	font-size: 24px!important;
}
.j_font_18 {
	font-size: 18px!important;
}

.j_nowrap {
	white-space: nowrap;
}

.j_index_avatar{
	width: 30px;
	height: 30px;
	margin:5px;
	border-radius: 50%;
	float: left;
}

.j_locksystem{
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index: 9999;
	background-color: rgba(0,0,0,0.9);
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	-ms-transition:.3s;
}
.j_locksystem.active{
	display: block;
}
.j_locksystem .j_lockmain{
	min-width: 300px;
	width:360px;
	height:360px;
	background:url("img/lockimg.png") center center no-repeat;
	background-size:cover;
	position: absolute;
	left:50%;
	top:45%;
	margin-top:-100px;
	margin-left:-180px;
	text-align: center;
}
.j_locksystem .j_lockmain .j_lockpassword{
	position: absolute;
	width:310px;
	left:50%;
	right:0px;
	top:160px;
	margin-left:-150px;
	border-radius:6px;
}

.j_locksystem .j_lockmain .j_lockpassword input{
	background: transparent;
	display: block;
	width: 100%;
	border:none;
	padding: 10px;
	color:#000000;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
.j_locksystem .j_lockmain .j_lockpassword input:focus{
	outline: none;
	border-bottom:2px solid #000000;
}
.j_locksystem .j_lockmain .j_lockpassword input:focus::placeholder{
	font-weight:normal;
	font-size:18px;
}
.j_locksystem .j_lockmain .j_lockpassword input::placeholder{
	color:#000040;
	font-size:26px;
}
.j_locksystem .j_lockmain h1{
	display: block;
	margin: 10px;
	margin-top: -80px;
	color:#d7e0ff;
	font-size:60px;
	letter-spacing: 5px;
}


.j_img_upload_mutilbox{
list-style:none;
padding-left:0px;
margin-left:0px;
display:inline-block;
vertical-align: top;
}

.j_img_upload_mutilbox li{
list-style:none;
display: inline-block;
margin: 0px 10px 10px 0px;
border:1px dashed #DDD;
vertical-align: top;
position: relative;
}

.j_img_upload_mutilbox li:hover{
	border-color:#999;
}

.j_img_upload_mutilbox li>img{
width: 100%;
height: 100%;
vertical-align: top;
}


.j_img_upload_mutilbox li .optbox{
	display:none;
	background-color: rgba(0,0,0,0.3)!important;
	color:#FFF!important;
	text-align: center;
	position: absolute;
	z-index:1;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	font-size:30px;
	vertical-align: middle;
	cursor: pointer;
}
.j_img_upload_mutilbox li .optbox>i.fa-trash{
	vertical-align: bottom;
	position:absolute;
	bottom:10%;
	left:50%;
	margin-left:-12px;
}

.j_img_upload_mutilbox li .optbox>i.fa-arrow-left{
	vertical-align: top;
	position:absolute;
	top:10%;
	left:0px;
}

.j_img_upload_mutilbox li:FIRST-CHILD .optbox>i.fa-arrow-left{
	display: none;
}

.j_img_upload_mutilbox li:LAST-CHILD .optbox>i.fa-arrow-right{
	display: none;
}

.j_img_upload_mutilbox li .optbox>i.fa-arrow-right{
	vertical-align: top;
	position:absolute;
	top:10%;
	right:0px;
}

.j_img_upload_mutilbox li:hover .optbox{
	display: inline-block;
}



.j_category_title{
	color:#999;
	font-size:14px;
}

.j_category_selectbox{
	padding: 15px;
	margin: 10px 0px;
	overflow-x:auto; 
	white-space: nowrap;
}
.j_category_select{
	width:300px;
	height:360px;
	padding:4px 0px;
	border:1px solid #DDD;
	overflow-y:auto; 
	display: inline-block;
	white-space: nowrap;
}
.j_category_select:not(:FIRST-CHILD){
	border-left:none;
}
.j_category_select ul>li{
	display: block;
	padding: 6px 15px;
	
	cursor: pointer;
}
.j_category_select ul>li:hover{
	background-color:#EEE;
}
.j_category_select ul>li.selected{
	background-color:#EEE;
	font-weight: bold;
}

.j_goodslist_mainimg{
	width: 80px;
	height: 80px;
}
.j_tablelist_logo{
	width: 80px;
	height: 80px;
}
 
 
.mallGoodsForm .form-group{
margin:35px 0px;
}
.j_img_upload_mutilbox{
max-width: 600px;
}
.j_img_upload_mutilbox li{
width: 100px;
height: 100px;
}
 
table.table td p{
	margin-bottom: 3px;
}
[data-date][type='input']{
	width:100px;
}
[data-date][type='input'].lg{
	width:160px;
}
.note-editable img{max-width: 100%;}
img{max-width: 100%;}

.layui-layer-btn a.lay_success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.layui-layer-btn a.lay_info{
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
.layui-layer-btn a.lay_primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.layui-layer-btn a.lay_danger{
    color: #fff;
	background-color: #bd2130;
    border-color: #b21f2d;
}
.layui-layer-btn a.lay_warning{
    color: #fff;
	background-color: #d39e00;
    border-color: #c69500;
}
.layui-layer-btn a.lay_dark{
    color: #fff;
	background-color: #343a40;
    border-color: #343a40;
}
.layui-layer-btn a.lay_success:hover,
.layui-layer-btn a.lay_info:hover,
.layui-layer-btn a.lay_primary:hover,
.layui-layer-btn a.lay_danger:hover,
.layui-layer-btn a.lay_warning:hover,
.layui-layer-btn a.lay_dark:hover{
	color:#444;
	text-decoration: none;
}

.layui-laydate.noseconds .layui-laydate-content>.layui-laydate-list {
	padding-bottom: 0px;
	overflow: hidden;
}
.layui-laydate.noseconds .layui-laydate-content>.layui-laydate-list>li{
   width:50%
}

.layui-laydate.noseconds .merge-box .scrollbox .merge-list {
    padding-bottom: 5px;
}

.jbolt-select-box{
	min-height: 300px;
	margin: 10px auto;
}

.jbolt-select-box .jbolt-select-opt{
	width: 40px;
	text-align: center;
}
.jbolt-select-filter{
}
.jbolt-select-filter h1{
	display:inline-block!important;
 	font-size:18px;
 	padding-left: 20px;
}
.jbolt-select-filter .form-control{
	display:inline-block!important;
	width: 200px;
	float: right;
}
.jbolt-select-box .jbolt-select-opt button{
	display: block;
	width: 80%;
	text-align: center;
	margin:10px auto;
}
.jbolt-select-box .jbolt-select-box_left,
.jbolt-select-box .jbolt-select-box_right{
	position:relative;
	border:1px solid #CCC;
	padding: 10px;
	max-width: 50%;
	height: 100%;
	overflow-y:auto; 
}

.jbolt-select-ul{
	list-style: none;
	display: block;
}

.jbolt-select-ul li{
	list-style: none;
	display:inline-block;
	border:1px solid #DDD;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	margin: 5px;
	width:120px;
} 
.jbolt-select-ul li>img{
	text-align: center;
	margin: 0px auto;
	width: 80px;
	height: 80px;
}

.jbolt-select-ul li.hide{
	display: none;
}
 
.jbolt-select-ul li h3{
	font-size:16px;
	margin: 6px auto;
	text-align: center;
}
.jbolt-select-ul li:hover{
	color:red;
	border:1px dashed red;
}

.jbolt_style{
	display: inline-block;
	margin: 6px 4px 0px 4px;
	text-align: center;
	width: 20px;
	height: 20px;
	cursor:pointer;
	border:1px solid #F5F5F5;
}
.jbolt_style_normal{
	background-color: #32363c;
}
.jbolt_style_style1{
	background-color: #39435C;
}

.jbolt_page_title button{
	white-space: nowrap;
}



/****************tab版封装*******************/
.jbolt_admin.withtabs .jbolt_admin_main_container{
	top:100px;
}

.jbolt_admin.withtabs .jbolt_admin_main_top{
	border-bottom:1px solid #eff3f6;
}
.jbolt_tabbar{
	background-color:#FFFFFF;
	white-space: nowrap;
	display: none;
	overflow:hidden; 
	height: 40px;
	line-height: 40px;
	padding:0px;
	position: absolute;
	left: 0px;
	top: 60px;
	right: 0px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom:1px solid #EEE;
}
.jbolt_tab_left,.jbolt_tab_right{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top:0px;
	bottom:0px;
	font-size:18px;
	color:#999;
	background-color:#FFFFFF;
	z-index: 1;
	cursor: pointer;
	
}
.jbolt_tab_left:hover,.jbolt_tab_right:hover{
	color:#000;
	font-weight: bold;
	background-color:#eff3f6;
}
.jbolt_tab_left{
	left:0px;
	border-right:1px solid #eff3f6;
}
.jbolt_tab_right{
	right:0px;
	border-left:1px solid #eff3f6;
}
.jbolt_admin.withtabs .jbolt_tabbar{
	display:block;
	white-space: nowrap;
}
ul.jbolt_tabs{
	list-style:none;
	margin:0px;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	display: inline-block;
	transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
}
ul.jbolt_tabs>li{
	list-style: none;
	height: 40px;
	line-height: 40px;
	position:relative;
	display: inline-block;
	padding:0px 10px;
	border-right:1px solid #eff3f6;
	min-width: 0;
	margin-right:0px!important;
	text-align:left;
	max-width: 180px;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow:hidden;
    transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
}
ul.jbolt_tabs>li:after{
	 content: '';
	position: absolute;
	height:2px;
	width: 20%;
	left:0px;
	right:0px;
	top:0px;
	transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
}
.jbolt_admin ul.jbolt_tabs>li.active:after,
.jbolt_admin ul.jbolt_tabs>li:hover:after{
   width:100%;
	background-color: #32363c;
}
.jbolt_admin.jbolt_style_1 ul.jbolt_tabs>li.active:after,
.jbolt_admin.jbolt_style_1 ul.jbolt_tabs>li:hover:after{
	background-color: #39435C;
}
.jbolt_admin.jbolt_style_2 ul.jbolt_tabs>li.active:after,
.jbolt_admin.jbolt_style_3 ul.jbolt_tabs>li:hover:after,
.jbolt_admin.jbolt_style_3 ul.jbolt_tabs>li.active:after,
.jbolt_admin.jbolt_style_3 ul.jbolt_tabs>li:hover:after{
	background: transparent;
}
ul.jbolt_tabs>li.active,
ul.jbolt_tabs>li:hover{
	background-color: #eff3f6;
}
ul.jbolt_tabs>li>span{
	display:block;
	padding-right: 15px;
	font-size:14px;
	color:#333;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
ul.jbolt_tabs>li>i.close{
	position: absolute;
	width: 16px;
	height: 16px;
	color:#999999;
	font-style:normal;
	font-size:16px;
	top:50%;
	right:1px;
	margin-top:-8px;
}
ul.jbolt_tabs>li>i.close:hover{
	color:#000;
}

.jbolt_tabcontent{
	display: none;
	height:100%;
}
.jbolt_tabcontent.active{
	display: block;
}
 
/***********jbolt_layer组件***************/
.jbolt_layer{
	display:block;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1999;
}
.jbolt_layer .jbolt_layer_portal{
	display: inline-block;
	position:fixed;
	width: 0px;
	top:0px;
	bottom:0px;
	overflow:auto;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	-ms-transition:.3s;
	background-color:#FFFFFF;
	z-index: 99;
}
.jbolt_layer .jbolt_layer_close{
	display: none;
	position:fixed;
	z-index: 99;
	top:0px;
	width: 40px;
	height: 40px;
	text-align:center;
	vertical-align:middle;
	line-height:40px;
	background-color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
}
.jbolt_layer .jbolt_layer_close:hover{
	background-color:#F8F8F8;
	font-size: 26px;
}

.jbolt_layer.nomask{
	position: relative;
}
.jbolt_layer.nomask.left .jbolt_layer_portal{
	 box-shadow:5px 40px 10px rgba(0,0,0,0.2);
}
.jbolt_layer.nomask.noclose.left .jbolt_layer_portal{
	 box-shadow:5px 5px 10px rgba(0,0,0,0.2);
}
.jbolt_layer.nomask.left .jbolt_layer_close{
	 box-shadow:10px 5px 10px rgba(0,0,0,0.1);
}
.jbolt_layer.nomask.right .jbolt_layer_portal{
	 box-shadow:-5px 40px 10px rgba(0,0,0,0.2);
}
.jbolt_layer.nomask.noclose.right .jbolt_layer_portal{
	 box-shadow:-5px 5px 10px rgba(0,0,0,0.2);
}
.jbolt_layer.nomask.right .jbolt_layer_close{
	 box-shadow:-10px 5px 10px rgba(0,0,0,0.1);
}

.modal-backdrop.show{
	z-index: 97!important;
}
.modal.show{
	z-index: 100!important;
}
.note-toolbar{
	z-index: 95!important;
}

.layui-layer-hui .layui-layer-btn1{
	color:#333!important;
}

/*******autocomplete css*********/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding:5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
}

.ac_results li span {
	display: inline-block;
	width: 100px;
	font-size:14px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.ac_results li span strong{
	color:red;
}

.ac_loading {
	background: white url('img/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #39435c;
	color: #FFFFFF;
}

/*******主从方案********/
.jbolt_master_slave_box{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	border-bottom: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-radius:4px;
}
.jbolt_master_slave_box .jbolt_master_container{
	flex-grow:2;
	overflow-y:auto;
}
.jbolt_master_page{
	height: 60px;
}
.jbolt_master_slave_box .jbolt_master_container table.table tbody>tr{
	cursor: pointer;
}
.jbolt_master_slave_box .jbolt_master_container table.table tbody>tr:hover{
	color:#dc3545;
}
.jbolt_master_slave_box .jbolt_master_container table.table tbody>tr.active{
	background-color: #f5c6cb;
}
.jbolt_master_slave_box  table.table tr>th:first-child,
.jbolt_master_slave_box  table.table tr>td:first-child{
	border-left:none;
}
.jbolt_master_slave_box  table.table tr>th:last-child,
.jbolt_master_slave_box  table.table tr>td:last-child{
	border-right:none;
}
.jbolt_master_slave_box .jbolt_slave_container{
	height:40%;
	overflow-y:hidden; 
}
.jbolt_master_slave_box .jbolt_slave_container .nav-tabs{
	background-color: #F5F5F5;
	border-top:1px solid #DDD;
}

.jbolt_master_slave_box .jbolt_slave_container .nav-tabs .nav-link.active{
	border-top:none;
	border-radius:0px;
}
.jbolt_master_slave_box .jbolt_slave_container .tab-pane{
	padding-top:5px;
}
.jbolt_master_slave_box .jbolt_slave_container .tab-content{
	border:none;
}
.jbolt_master_slave_box .jbolt_slave_container .nav-item:first-child{
	margin-left:10px; 
}
.jbolt_master_slave_box .jbolt_slave_container .nav-item:last-child{
	margin-right:10px; 
}
.jbolt_slave_top{
	padding-bottom:5px;
}
.jbolt_master_slave_box .jbolt_slave_container .jbolt_slave_body{
	overflow-y:auto;
	height:200px;
}

/*************table****************/
.table.table-bordered thead th{
	border-bottom: 1px solid #dee2e6;
}




.jbolt_config_style{
	display:inline-block;
	border:1px solid #333333;
	margin: 10px;
	width: 60px;
	height: 60px;
}
.jbolt_config_style img{
	width: 100%;
	height: 100%;
}
.jbolt_config_style:hover{
	border:1px dashed red;
}

.jbolt_config_style.active{
	border:2px solid red;
}

.jbolt_layer_page .jbolt_page_title{
	border-bottom:1px solid #F5F5F5;
	margin-left:-20px;
	margin-right:-20px;
	margin-top:-20px;
	padding: 10px;
}
.jbolt_layer_page .jbolt_page_title h1{
	margin: 0px;
	padding: 0px 5px;
	font-size:16px;
}
#jboltTabContextMenu{
	display: none;
	z-index: 1988;
}

.jbolt_admin.jbolt_style_2 input:-internal-autofill-previewed,
.jbolt_admin.jbolt_style_2 input:-internal-autofill-selected,
.jbolt_admin.jbolt_style_3 input:-internal-autofill-previewed,
.jbolt_admin.jbolt_style_3 input:-internal-autofill-selected{
	 -webkit-text-fill-color: #FFF!important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.jbolt_admin.default input:-internal-autofill-previewed,
.jbolt_admin.default input:-internal-autofill-selected,
.jbolt_admin.jbolt_style_1 input:-internal-autofill-previewed,
.jbolt_admin.jbolt_style_1 input:-internal-autofill-selected {
    -webkit-text-fill-color: #333333!important;
    transition: background-color 5000s ease-in-out 0s !important;
}
.select2-container--bootstrap .select2-results__option[aria-selected=true]{
	background-color:#39435C;
     color:#FFF;
}
.select2-container{
	z-index: 2000;
}
